<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-sharp" size="large" color="light"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="disciplines">
      <ion-icon name="ribbon-sharp" size="large" color="light"></ion-icon>
      <ion-label>Disciplinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="streaming">
      <ion-icon name="stats-chart" size="large" color="light"></ion-icon>
      <ion-label>Estadisticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-circle-sharp" size="large" color="light"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>