<div class="card-container">
  <ion-card class="custom-card" (click)="navigateTo('https://example.com/calentamiento')">
    <div class="card-content">
      <img class="card-image" alt="Calentamiento" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="text-content">
        <ion-card-header>
          <ion-card-title>Calentamiento</ion-card-title>
          <ion-card-subtitle>Preparación física</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Realiza ejercicios básicos para preparar tu cuerpo y evitar lesiones. Dedica al menos 10 minutos para activar tus músculos y mejorar la circulación.
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card class="custom-card" (click)="navigateTo('https://example.com/gimnasio')">
    <div class="card-content">
      <img class="card-image" alt="Gimnasio" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="text-content">
        <ion-card-header>
          <ion-card-title>Gimnasio</ion-card-title>
          <ion-card-subtitle>Entrenamiento de fuerza</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Optimiza tu rutina con ejercicios de fuerza y resistencia. Utiliza pesas, máquinas o tu propio peso corporal para alcanzar tus objetivos de acondicionamiento físico.
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card class="custom-card" (click)="navigateTo('https://example.com/yoga')">
    <div class="card-content">
      <img class="card-image" alt="Yoga" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="text-content">
        <ion-card-header>
          <ion-card-title>Yoga</ion-card-title>
          <ion-card-subtitle>Relajación y flexibilidad</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Encuentra el equilibrio entre cuerpo y mente con sesiones de yoga. Mejora tu flexibilidad, reduce el estrés y fortalece tu conexión interior.
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</div>
