<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Opciones</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <form (ngSubmit)="startStream()">
        <!-- Entrada para la URL de la transmisión RTSP -->
        <ion-item>
          <ion-label position="floating">URL de la transmisión</ion-label>
          <ion-input [(ngModel)]="rtspUrl" name="rtspUrl" required></ion-input>
        </ion-item>


        <!-- <ion-list>
          <ion-item>
            <ion-select
              placeholder="Selecciona un modelo"
              (ionChange)="onModelSelect($event.detail.value, 'assets/postures/' + $event.detail.value.coordenadas.imageName)"
              required>
              <ion-select-option *ngFor="let model of models" [value]="model">
                {{ model.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> -->

        <!-- Botón para iniciar la transmisión -->
        <ion-button color="primary" expand="full" size="small" type="submit" [disabled]="!selectedModel" *ngIf="!startedStream">Iniciar Transmisión</ion-button>
        <ion-button color="danger" expand="full" size="small" (click)="cancelStream()" *ngIf="startedStream">Cancelar Transmisión</ion-button>
      </form>
    </div>
  </ion-accordion>
</ion-accordion-group>
<ion-content class="ion-padding">
  <ion-card color="primary" class="ion-padding" button="true" detail="false">
    <ion-text style="text-align: center;">{{step}}</ion-text>
  </ion-card>
  <div #contentDiv class="canvas_container">
    <img #testImage [src]="testImageUrl" style="display: block; z-index: 0;" width="100%">
    <img #inputImage [src]="dynamicImageUrl" alt="dynamicImageUrl" style="position: absolute; right: 0; top: 0; z-index: 2;" width="100%"/>
    <ion-button id="open-info" shape="round" style="position: absolute; right: 0; top: 0; z-index: 3;"><ion-icon name="information-circle-outline" color="dark"></ion-icon></ion-button>
    <ion-modal id="example-modal" #modal trigger="open-info">
      <ng-template>
        <div class="wrapper">
          <h1 style="text-align: center;">Información del ejecricio</h1>
          <img #modelImage [src]="modelImageUrl" class="ion-padding" alt="modelImage" style="display: block;" width="100%">
          <ion-card color="primary" class="ion-padding" button="true" detail="false" (click)="modal.dismiss()">
            <ion-text style="text-align: center;">{{step}}</ion-text>
          </ion-card>
        </div>
        <ion-progress-bar #modalProgressBar [value]="modalProgress" color="primary"></ion-progress-bar>
      </ng-template>
    </ion-modal>
    <!-- <ion-modal id="success-modal" #success>
      <ng-template>
        <div class="wrapper">

        </div>
        <ion-progress-bar #modalProgressBar [value]="modalProgress" color="primary"></ion-progress-bar>
      </ng-template>
    </ion-modal> -->
  </div>
  <div class="progress-value" *ngIf="open">
    <ion-progress-bar #progressBar [value]="progress" color="{{progressColor}}"></ion-progress-bar>
    <span>{{statusPose}}</span>
  </div>
  <div class="done-bar" *ngIf="done">
    <ion-card color="success" class="ion-padding" detail="false" style="align-items: center;">
      <ion-text style="text-align: center; display: block;"><ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;¡Completado!&nbsp;<ion-icon name="checkmark-circle-outline"></ion-icon></ion-text>
    </ion-card>
  </div>
</ion-content>



<ion-footer>
  <!-- <ion-toolbar color="{{FooterColor}}">
  </ion-toolbar> -->
</ion-footer>
