.custom-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem !important;
}
.logo{
    //font-size: 20vw;
    font-weight: 800;
    color: deepskyblue;
    text-align: center;
    font-size: clamp(10px, 10vw, 50px);
}
