<ion-content>
  <div class="header-title">
    <h1>Arvis</h1>
  </div>

  <div class="home-content">
    <img src="assets/Portada_Fondo_-_Camara.png" alt="Imagen de ejercicios" class="home-image" />

    <div class="news-section">
      <div class="news-card">
        <ion-icon name="bicycle"></ion-icon>
        <p class="news-title">Nuevas Rutinas</p>
        <p class="news-description">
          Prueba nuestras rutinas optimizadas para principiantes.
        </p>
      </div>
      <div class="news-card">
        <ion-icon name="barbell"></ion-icon>
        <p class="news-title">Apoyo en tu rutina fisica</p>
        <p class="news-description">
          Ahora detectamos tu postura para mejorar tu técnica.
        </p>
      </div>
    </div>
  </div>
</ion-content>
