<ion-header>
  <ion-toolbar>
    <ion-title>RTSP Stream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="startStream()">
    <ion-item>
      <ion-label position="floating">URL de la transmisión RTSP</ion-label>
      <ion-input [(ngModel)]="rtspUrl" name="rtspUrl" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Iniciar Transmisión</ion-button>
  </form>

  <div #contentDiv class="canvas_container">
    <img #inputImage [src]="dynamicImageUrl" alt="dynamicImageUrl" style="display: block;" width="100%"/>
  </div>
</ion-content>
