<div class="card-container">
  <ion-card class="custom-card">
    <div class="card-content">
      <img class="card-image" alt="Calentamiento" src="https://pymstatic.com/31996/conversions/tipos-de-calentamiento-deportivo-small-16_9.jpg" />
      <div class="text-content">
        <ion-card-header>
          <ion-card-title>Calentamiento</ion-card-title>
          <ion-card-subtitle>Preparación física</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Realiza ejercicios básicos para preparar tu cuerpo y evitar lesiones. Dedica al menos 10 minutos para activar tus músculos y mejorar la circulación.
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</div>
